<div fxLayout="row grid" fxLayoutGap="32px grid" fxLayout.xs="column" fxLayoutAlign="flex-start">
    <!-- Ajouter -->
    <wishlist-list-item fxFlex class="add-item"></wishlist-list-item>

    <!-- Wishlists -->
    <ng-container *ngFor="let wishlist of wishlists">
        <wishlist-list-item [data]="wishlist" fxFlex></wishlist-list-item>
    </ng-container>
</div>