<mat-card matElevation fxFlex (click)="openDialog()">
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{data.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li *ngFor="let item of data.items">
                {{item.title}}
            </li>
        </ul>
    </mat-card-content>
</mat-card>